@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif
}

@layer base{
  input:not([type="checkbox"]){
    @apply outline-none focus:ring border border-gray-300 
    focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }
  textarea{
    @apply outline-none focus:ring border border-gray-300 
    focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
  }
  button{
    @apply cursor-pointer;
  }
}